@font-face {
    font-family: Gotham;
    src: url(Gotham/Gotham-Medium.otf);
}

@font-face {
    font-family: Gotham;
    src: url(Gotham/Gotham-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Gotham;
    src: url(Gotham/Gotham-MediumItalic.otf);
    font-style: italic;
}

/**********************************************************************************************************/

:root {
    --first_color:#004add;
    --second_color:#5271ff;
    --third_color:#38b6ff;
}

body{
    font-family: Gotham;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*********************************************************************************************************/

.menu{
    display: none;
    background-color: var(--third_color);
    flex-direction: column;
    position:fixed;
    bottom: 20px;
    padding: 20px;
    border-radius: 2px;
    border-style: solid;
    border-color: grey;
    border-radius: 10px;
}

.menu a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: black;
}
.menu a:hover{
    color: white;
}

.openbtn{
    display: flex;
    text-decoration: none;
    color: var(--first_color);
    font-size: 50px;
    position: fixed;
    bottom: 20px;
}

.closebtn{
    display: flex;
    font-size: 50px;
}

.Part{
    display: flex;
}

.icon_link{
    display: flex;
    justify-content: space-around;
}