@font-face {
    font-family: Gotham;
    src: url(Gotham/Gotham-Medium.otf);
}

@font-face {
    font-family: Gotham;
    src: url(Gotham/Gotham-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Gotham;
    src: url(Gotham/Gotham-MediumItalic.otf);
    font-style: italic;
}

/**********************************************************************************************************/

:root {
    --first_color:#004add;
    --second_color:#5271ff;
    --third_color:#38b6ff;
}

body{
    font-family: Gotham;
}

header{
    display: flex;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*********************************************************************************************************/

.menu{
    display: none;
    align-items: flex-start;
    background-color: var(--second_color);
}

.Part{
    display: flex;
}

.icon_link{
    display: flex;
    justify-content: space-around;
}